body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 10px;
    text-align: center;
}

header {
    background-color: #0b0b0c;
    color: rgb(255, 255, 255);
    padding: 70px 20px;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

main {
    padding: 20px;
}

main p {
    font-size: 1.2em;
    margin: 20px 0;
    line-height: 1.6;
}

button {
    background-color: #000000;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #87010c;
}

footer {
    background-color: #000000;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
